/*h1{
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  width: 300px;
}
.main {
  display: flex;
  justify-content: center;
}

.addUser {
}

.buttons {
  display: flex;
  justify-content: center;
}

.stuff2Edit {
  margin-left: 300px;

}*/
.addUserArea, .removeUserArea {
  display: flex;
  justify-content: center;
}
