/* Coolors Exported Palette - coolors.co/2d3142-a9e5bb-fcf6b1-e56399-e5d4ce */

/* HSL */
$darkPurple: hsla(229%, 19%, 22%, 1);
$mintGreen: hsla(138%, 54%, 78%, 1);
$yellow: hsla(55%, 93%, 84%, 1);
$pink: hsla(335%, 71%, 64%, 1);
$grey: hsla(16%, 31%, 85%, 1);

/* RGB */
$color1: rgba(45, 49, 66, 1);
$color2: rgba(169, 229, 187, 1);
$color3: rgba(252, 246, 177, 1);
$color4: rgba(229, 99, 153, 1);
$color5: rgba(229, 212, 206, 1);
