body {
  background: url('./gplaypattern_@2X.png');
  animation: animatedBackground 30s linear infinite;
  letter-spacing: 5px;
  font-family: 'Gloria Hallelujah', cursive;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.playinginfo {
  float:
}
.albumcover {
  width: 30%;
  height: 30%;
  float:left;
}
.addsong {
  float: right;
  margin: 50px;
}
.table {
  width: 100%;
}
