body {
  background: url('./gplaypattern_@2X.png');
	transition: all .3s linear;
  animation: animatedBackground 60s linear infinite;
  letter-spacing: 2px;
  font-family: 'Gloria Hallelujah', cursive;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}
#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100vw;
	z-index: -1;
}
.background-overlay {
	background: 
		linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    );
}
#player {
	height: 50vh;
}
#name {
	padding-top: 0px;
}
a.brand-logo:hover {
  color:hsla(55, 93%, 84%, 1);
}
.nav-links > a {
	padding: 0 8px;
}
.playlist-section {
	margin: 40px auto;
	padding: 30px auto;
}
.add-song {
  float: right;
  margin: 20px;
}
.table {
  width: 100%;
}
td.songname:hover {
  color: hsla(335, 71%, 64%, 1);
}
.change-song:hover {
  color: hsla(335, 71%, 64%, 1);
}