body {
  background: url('./gplaypattern_@2X.png');
  animation: animatedBackground 30s linear infinite;
  letter-spacing: 5px;
  font-family: 'Gloria Hallelujah', cursive;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.current-song {
  margin: 40px 0 40px 0;
}

.col.song {
  height: 300px;
  border-radius: 2px;
  position: relative;
  margin-right: 20px;
}
.img-current {
  width: 100%;
  object-fit: cover;
  height: 270px;
}
.col.details-current {
  padding-top: 110px;
}
.add-song {
  float: right;
  margin: 20px;
}
.table {
  width: 100%;
}
